
@using Restorant.Domain.Entiteis;
<!DOCTYPE html>
<html>
<head>
    <title>Masa Rezervasyon Sistemi</title>
    <style type="text/css">
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 960px; /* to adjust the max width of the container */
        }

        .card {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
            text-align: center;
            width: calc(33.33% - 20px); /* to calculate the width of each card with margin */
        }

        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
            margin: 0;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <div class="container">
        @{
            int i = 1;
            foreach (var item in ViewBag.Table )
            {
                if (@item.Reservation == true)
                {
                    <div class="card" style="background-color: red;">
                        <h2>Masa :@i</h2>
                        <p>Masa No: @item.TableNo</p>
                        <p>@item.Maxpeople Kişilik</p>
                        <p>Rezervasyon Durumu: @item.Reservation</p>
                    </div>

                }
                else
                {
                    <div class="card">
                        <h2>Masa :@i</h2>
                        <p>Masa No: @item.TableNo</p>
                        <p>@item.Maxpeople Kişilik</p>
                        <p>Rezervasyon Durumu: @item.Reservation</p>
                    </div>
                }

                i++;
            }
        }

    </div>
</body>
</html>
