@using Restorant.Domain.Entiteis;
@model string
<!DOCTYPE html>
<html>
<head>
    <title>Ürünlerimiz</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
            color: #0099cc;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            max-width: 1400px;
        }

        .box {
            width: 300px;
            height: 400px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px grey;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            box-sizing: border-box;
        }

        .image {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            color: #0099cc;
            margin-bottom: 10px;
        }

        .price {
            font-size: 18px;
            font-weight: bold;
            color: #666666;
            margin-bottom: 10px;
        }

        .button {
            background-color: #0099cc;
            color: white;
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .box {
            flex-basis: calc(33.33% - 20px);
        }

            .button:hover {
                background-color: #006699;
            }
    </style>
</head>
<body>
    <h1>Ürünlerimiz</h1>

    <div class="container">


        
            @{
                if (ViewBag.Id != null)
                {
                    foreach (var item in ViewBag.food )
                    {
                        <div class="box">
                            <img class="image" src="kutu1.jpg">
                            <div class="title">@item.Name</div>
                            <div class="price">@item.Description</div>
                            <div class="price">@item.Price</div>
                            <form asp-controller="Home" asp-action="Sepeteekle" method="post">
                            <h3>Adet</h3>
                            <input type="number"  name="Adet" />
                            <input type="hidden"  name="YemekId" value="@item.Id" />
                            <button class="button">Sepete Ekle</button>

                            </form>
                        <form asp-controller="Home" asp-action="LikeAdd" method="post">
                            <input type="hidden" name="YemekId" value="@item.Id" />
                            <button class="button" asp-action="LikeAdd" asp-controller="Home">Beğen</button>
                            </form>
                        </div>
                    }
                }
                else
                {
                    <form>
                        <button class="button" asp-action="NKGiriş" asp-controller="Home">Giriş Yap</button>
                    </form>
                    
                }
            }
            
       



</body>
</html>
